name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.x'
        cache: true
        cache-dependency-path: '**/packages.lock.json'
      # Restore dependencies
    - name: Restore Dependencies
      run: dotnet restore --locked-mode
    
    # Build the project
    - name: Build Project
      run: dotnet build --no-restore --configuration Release --self-contained
      
    - name: Run Tests
      run: dotnet test --no-build --configuration Release

    - name: Run Publish
      run: dotnet publish --no-build --configuration Release --self-contained

    - name: Set up SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -t rsa ${{ secrets.REMOTE_HOST }} >> ~/.ssh/known_hosts

    - name: Install sshpass
      run: sudo apt-get install -y sshpass

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: app
        path: artifacts/publish/soilpollution/release/ # or path/to/artifact
    
    - name: Deploy to server
      run: |
        rsync -avz --delete ./artifacts/publish/soilpollution/release/ ${{ secrets.REMOTE_USER }}@${{ secrets.REMOTE_HOST }}:${{ secrets.REMOTE_PATH }}
        ssh ${{ secrets.REMOTE_USER }}@${{ secrets.REMOTE_HOST }} 'sudo systemctl restart soilpollution.service'
        ssh ${{ secrets.REMOTE_USER }}@${{ secrets.REMOTE_HOST }} 'sudo systemctl status soilpollution.service'
